@font-face {
  font-family: YANONEKAFFEESATZ;
  font-weight: bold;
  src: url("../css/YANONEKAFFEESATZ-REGULAR.OTF") format("opentype");
}

.img-responsive{
	float:left;
  position: fixed;
  left: 15px;
  margin: 15px 0 0 1px;
  z-index: 3;
}

.jumbotron{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  margin-bottom: 15px;
  z-index: 2;
  height: 130px;
  color: #fff;
  z-index: 1;
  /* background-color: #555; */
  background-color: #ff6347;
  font-family: YANONEKAFFEESATZ;
  font-weight: bold;

}

.jumbotron h1{
  margin-top: 0.01%;
  position: relative;

}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    /* height: 1500px; */
    bottom: 0;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color:  rgba(39, 39, 39);
  color: white;
  padding: 15px;
  position: fixed;
  bottom:0;
  width:100%;
  font-size: 10px;

}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 20px;
  }
  .row.content {height: auto;}
}

.footer {
    background-color: rgba(39, 39, 39);
    color: white;
    padding: 15px;
  }

.footer p {
  margin: 15px 0 0 3px;
  position: relative;  
}

thead{
  color: tomato;
  z-index: 1;
}

.table-overflow {
    max-height:275px;
    overflow-y:auto;
}

@media only window and(min-width: 1024px) {
  .table-overflow{
    max-height:500px;
    overflow-y:auto;
  }
}

i{
  margin: 0 3px 0 3px
}

#i{
  margin: 0 3px 0 12px
}

/* modal */
.modal-header{
  color: white;
  background-color: tomato;
}

.modal-footer .btn{
  color: #ff6347;
}


/* style float button */
.zoom {
  animation-name: example1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;

  position: fixed;
  bottom: 15px;
  right: 10px;
  height: 70px;
  z-index: 100;
}
/* Standard syntax */
@keyframes example1 {
  75%  {bottom:175px;}

  /* 0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;} */

  }
.zoom-fab {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: tomato;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}

.zoom-fab:hover {
  background-color: #b23620;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.zoom-menu {
  position: absolute;
  right: 70px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 500px;
  list-style: none;
  text-align: right;
}

.zoom-menu li {
  display: inline-block;
  margin-right: 10px;
}

.zoom-card {
  position: absolute;
  right: 150px;
  bottom: 70px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: left;
}

/* cores para buttons */
.zoom-btn-person { background-color: tomato; }

.zoom-btn-person:hover { background-color: #b23620; }

.zoom-btn-doc { background-color: tomato; }

.zoom-btn-doc:hover { background-color: #b23620; }

.zoom-btn-tangram { background-color: tomato; }

.zoom-btn-tangram:hover { background-color: #b23620; }

.zoom-btn-report { background-color: tomato; }

.zoom-btn-report:hover { background-color: #b23620; }

.zoom-btn-feedback { background-color: tomato; }

.zoom-btn-feedback:hover { background-color: #b23620; }

/* escala para os buttons */
.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
transform: scale(0);
transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }

/* escala para os buttons */
.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
transform: scale(0);
transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }

/* style float button */


.table p{
  font-size: 22px;
  color: tomato; 
  font-weight: bold;
}


/* estilo do form */
/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

.form {
  position: relative;
  /*  z-index: 1;*/
  background: #FFFFFF;
  max-width: auto;
  padding: 10px;
  text-align: left;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  }
  .form label{
    position: left;
  }
  .form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  height: 16px;
  border: 0;
  margin: 0 0 11px;
  padding: 11px;
  font-size: 11px;
  }
  .form button {
  text-transform: uppercase;
  outline: 0;
  background:tomato;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 11px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
  /* background: rgb(20, 20, 20); */
  background: #b23620;
  
  }
  
  .pure-control-group #id_details{
    width: 100%;
    height: 70px;
  }
  
  .form label{
    font-size: 11px;
    position: relative;
  }
  
  .form select{
    width: 70%;
    float: right;
    position: relative;
    background-color: white;
    border: 2px solid;
    border-color: transparent transparent  tomato transparent ;
  
  }
  
  .errorlist li{
    color: tomato;
  }
  /* estilo do form */



  /* style float button */
.zoom2 {
  animation-name: example;
  animation-duration: 0.1s;
  animation-iteration-count: 3;
  animation-timing-function: ease;

  position: fixed;
  bottom: 15px;
  left: 10px;
  height: 70px;
  z-index: 100;
}
/* Standard syntax */
@keyframes example {
  /* 75%  {bottom:175px;} */
  0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;}
  }
.zoom-fab2 {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: tomato;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}

.zoom-fab2:hover {
  background-color: #b23620;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large2 {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.zoom-menu2 {
  position: absolute;
  right: 70px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 500px;
  list-style: none;
  text-align: right;
}

/* escala para os buttons */
.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
transform: scale(0);
transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }

/* escala para os buttons */
.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
transform: scale(0);
transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }

/* style float button */



#ModalSearch {
  text-align: center;
  padding: 0!important;
  
}

#ModalSearch:before {
  content: 50%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

/* #ModalSearch .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
} */

#ModalSearch .input-group{
  position: fixed;
  top: 97px;
  width: 90%;
  right: 1%;
}