{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>VG</title>
</head>

<body>
    <div class="img-responsive">
        <img class="logo" src="{% static "blo/img/logo3.png" %}" width="80">
    </div><!-- Fim Logo -->
    
    <div class="jumbotron text-center">            
        <h1><i class="glyphicon glyphicon-education"></i> AppVG</h1> 
    </div>

    <!-- corpo da lista -->  
    {% block content %}  
    {% endblock %}  

    <footer class="container-fluid">
        <p>TI-FAT & DENNY ERIKSON &copy; 2018</p>
    </footer>

</body>

</html>