{% extends 'blo/base_graphs.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
    <body>
        <h2 style="text-align:center">Total Confirmados</h2>
        <div id="containerS" style="min-width: 90%; max-width: 90%; height: 400px; margin: 0 auto"></div>
        <div id="containerM" style="min-width: 90%; max-width: 90%; height: 400px; margin: 0 auto"></div>
        <div id="containerN" style="min-width: 90%; max-width: 90%; height: 400px; margin: 0 auto"></div>
    </body>
{% endblock %}