{% extends 'blo/base.html' %}
{% load static %}
{% load staticfiles %}

<!-- corpo da lista extendida de base.html-->
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="container">

        <form class="input-group" action="" method="GET">
                <div class="input-group">
                        <input name="search" type="text" class="form-control" placeholder="Search...CPF - Nome - Sala">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
        </form>
        <br>
        <br>
                <p> 
                  <i id="i" class="glyphicon glyphicon-list"></i> Candidatos do vestibular 
      
                  <i id="i" class="glyphicon glyphicon-user"></i> {{total}}

                  <i id="i" class="glyphicon glyphicon-calendar"></i> 24/11
                </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><i class="glyphicon glyphicon-credit-card"></i> Cpf</th>
              <th><i class="glyphicon glyphicon-user"></i> Nome</th>
              <th><i class="glyphicon glyphicon-home"></i> Sala</th>
            </tr>
          </thead>
          </table>
        <div class="table-overflow">
        <table class="table table-striped">

          <tbody>

            {% for posts in post %}
                <tr>
                    <td><i class="glyphicon glyphicon-credit-card"></i> {{posts.cpf}} </td>
                    <td><i class="glyphicon glyphicon-user"></i> {{posts.nome}}</td>
                    <td><i class="glyphicon glyphicon-home"></i> {{posts.sala}}</td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
        </div>
      </div>

{% endblock %}