{% extends 'blo/base.html' %}
{% load static %}
{% load staticfiles %}
{% load poll_extras %}

<!-- corpo da lista extendida de base.html-->
{% block content %}
<!-- <head>
  <link rel="stylesheet" media="screen and (min-width: 0px)" href="{% static 'css/small.css' %}">
  <link rel="stylesheet" media="screen and (min-width: 640px)" href="{% static 'css/mediun.css' %}">
  <link rel="stylesheet" media="screen and (min-width: 1000px)" href="{% static 'css/full.css' %}">
</head> -->
<br>
<br>
<br>
<br>
<br>
<div class="container">

        <form class="input-group" action="" method="GET">
                <div class="input-group">
                        <input name="search" type="text" class="form-control" placeholder="Search...CPF - Nome - Sala">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
        </form>
        <br>
        <br>
                <p> 
                  <i id="i" class="glyphicon glyphicon-list"></i>Lista Candidatos do vestibular     
                  

                  <i id="i" class="glyphicon glyphicon-calendar"></i> 24/11
                </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><i class="glyphicon glyphicon-ok"></i></th>
              <th><i class="glyphicon glyphicon-credit-card"></i> Cpf</th>
              <th><i class="glyphicon glyphicon-user"></i> Nome</th>
              <th><i class="glyphicon glyphicon-home"></i> Sala</th>
              <!-- <th><i class="glyphicon glyphicon-education"></i> Curso</th> -->
            </tr>
          </thead>
          </table>
        <div id="table" class="table-overflow">
          <table class="table table-striped">

            <tbody>
              <!-- <style>td{white-space: pre-wrap;}</style> -->
              {% for posts in post %}
                  <tr>
                      <form action="" method="POST">{% csrf_token %}
                        <td>
                          <input onClick="this.form.submit();" type="checkbox" name="ckeckbox" value="{{ posts.cpf }}" {% if posts.confirm %}checked{% endif %}/>
                        </td>
                      </form>

                      <td>{{posts.cpf}} </td>
                      <td> {{posts.nome|display_name_tag}}</td>
                      <!-- <td> {{posts.nome}}</td> -->
                      <td>{{posts.sala}}</td>
                      <td><i class="glyphicon glyphicon-plus-sign"></i></td>
                                      
                  </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>

      <script>

        function sizeOfThings(){
          var windowWidth = window.innerWidth;
          var windowHeight = window.innerHeight;
          
          var screenWidth = screen.width;
          var screenHeight = screen.height;
          
          // var msgW = windowWidth + 'x' + windowHeight;
          // var msgS = screenWidth + 'x' + screenHeight;

          var msgW = windowWidth;
          var msgS = screenWidth;

          if(msgW < 640){
            document.getElementById("table").style.maxHeight ='auto';
          }
          else{
            document.getElementById("table").style.maxHeight ='350px';
          }

          // alert('screenWidth: ' + msgS + "\nwindowWidth: " + msgW)

        };

        sizeOfThings();

        window.addEventListener('resize', function(){
          sizeOfThings();
        });
      
      </script>
      <!-- MODAL BOOTSTRAP -->
      <div class="container">
        <!--modal-->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog modal-sm">
            <!--Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-info-sign"></i> Informações do VG</h4>              

              </div>
              <div class="modal-body">
                <p><i id="i" class="glyphicon glyphicon-list-alt"></i> Total Candiadatos <i id="i" class="glyphicon glyphicon-user"></i> {{total}}</p>
                {% for salas in sala %}
                  <p><i id="i" class="glyphicon glyphicon-home"></i> Total sala {{ salas.sala}}
                    <i id="i" class="glyphicon glyphicon-user"></i> {{ salas.value_cpf }}
                  </p>
                {% endfor %}

              </div>

              <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Ok, entendi</button>

              </div>

            </div>

          </div>

        </div>

      </div>
      <!-- MODAL BOOTSTRAP -->



      <!-- Float button -->
      <div id="div2" class="zoom">
          <a class="zoom-fab zoom-btn-large" id="zoomBtn" data-toggle="modal" data-target="#myModal">
              <img src="https://img.icons8.com/material-rounded/50/ffffff/about.png" width="30"></a>

      </div>
      <script>
          $('#zoomBtn').click(function() {
              $('.zoom-btn-sm').toggleClass('scale-out');

              if (!$('.zoom-card').hasClass('scale-out')) {
                  $('.zoom-card').toggleClass('scale-out');
              }
          });

          $('.zoom-btn-sm').click(function() {
          var btn = $(this);
          var card = $('.zoom-card');
          if ($('.zoom-card').hasClass('scale-out')) {
              $('.zoom-card').toggleClass('scale-out');
          }
          if (btn.hasClass('zoom-btn-person')) {
              // card.css('background-color', '#d32f2f');

          } else if (btn.hasClass('zoom-btn-doc')) {
              card.css('background-color', '#fbc02d');
          } else if (btn.hasClass('zoom-btn-tangram')) {
              card.css('background-color', '#388e3c');
          } else if (btn.hasClass('zoom-btn-report')) {
              card.css('background-color', '#1976d2');
          } else {
              card.css('background-color', '#7b1fa2');
          }
          });        
      </script>
      <!-- Float button -->

{% endblock %}